extends ../auth.layout.pug

block content
  - var links = ['my-works.html', 'about.html', 'blog.html'];

  section.welcome-section.section
    header.welcome-header
      button.auth-button(type="button") Авторизоваться

    main.main
      .card
        .card-greeting.card-greeting--active
          include ../common/hero-desc.pug
          .card-greeting__socials
            +socials('auth')
          nav.site-navigation
            ul.site-navigation__list
              each item, index in ['Мои работы', 'Обо мне', 'Блог']
                li.site-navigation__item
                  a.site-navigation__link(href=links[index])= item
        
        .card-auth
          h2.card-auth__heading Авторизуйтесь
          .card-auth__form
            form.auth-form(method="post" action="")
              fieldset.auth-form__fieldset
                .auth-form__text--overlay
                  label.auth-form__text-label(for="auth-form__login")
                    +icon('login', 'text-input__icon')
                  input.auth-form__text-input#auth-form__login(type="text", name="login", placeholder="Логин")
                .auth-form__text--overlay
                  label.auth-form__text-label(for="auth-form__password")
                    +icon('password', 'text-input__icon')
                  input.auth-form__text-input#auth-form__password(type="password", name="password", placeholder="Пароль")
              fieldset.auth-form__fieldset
                input.auth-form__checkbox-input#auth-form__checkbox(type="checkbox")
                label.auth-form__checkbox-label(for="auth-form__checkbox") Я человек
                  +icon('check', 'checkbox-label__icon')
              fieldset.auth-form__fieldset
                legend.fieldset-legend Вы точно не робот?
                .auth-form__radio--overlay
                  input.auth-form__radio-input#auth-form__radio-true(type="radio" name="isNotRobot" value="true")
                  label.auth-form__radio-label(for="auth-form__radio-true") Да
                .auth-form__radio--overlay
                  input.auth-form__radio-input#auth-form__radio-false(type="radio" name="isNotRobot" value="false")
                  label.auth-form__radio-label(for="auth-form__radio-false") Не уверен

          nav.auth-panel
            ul.auth-panel__list
              li.auth-panel__item
                button.auth-panel__button(type="button") На главную
              li.auth-panel__item
                button.auth-panel__button(type="submit") Войти




    footer.footer-container
      .copyright
        p.copyright__text &copy; Шелудешев Артём | создано с любовью в Loftschool | 2018