extends ../main.layout.pug

block variables
  - var title = 'Мои работы';

block scripts
  script(src="works.bundle.js")

block content
  +header('works')
  section.works.js-scroll-target
    .works__title.title-block
      +icon('works_header', 'title-icon')
      h2.title Мои работы
    .works__content
      #slider-component

  section.criticism
    .criticism__title.title-block
      +icon('about_header', 'title-icon title-icon--doubled')
      h2.title
        != 'Что обо мне<br> говорят'
    .criticism__block
      .critic
        .critic__image-block
          +image('./content/critic-1.png', 'Critic image', 'critic__image')
        .critic__talk
          p.critic__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
        .critic__info
          p.critic__name Ковальчук Дмитрий
          p.critic__post — основатель LoftSchool
      .critic
        .critic__image-block
          +image('./content/critic-2.png', 'Critic image', 'critic__image')
        .critic__talk
          p.critic__text Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
        .critic__info
          p.critic__name Сабанцев Владимир
          p.critic__post — преподаватель

    .contact-form
      .contact-form__title
        h3.subtitle Связаться со мной
      input.contact-form__input(type="text", placeholder="Имя", aria-label="Введите ваше имя")
      input.contact-form__input(type="email", placeholder="Email", aria-label="Введите ваш email")
      textarea.contact-form__textarea(type="email", placeholder="Ваше сообщение", aria-label="Введите ваше сообщение")
      .contact-form__menu
        button.contact-form__btn.contact-form__btn--submit(type="sumbit") Отправить
        button.contact-form__btn.contact-form__btn--reset(type="reset") Очистить
    button.criticism__down-btn.up-btn
      +icon('arrow_down', 'down-arrow down-arrow--rotated')
      
  +footer('works')