mixin header(mod)
  section.page-header.section
    +icon(`${mod}_header`, `background-title background-title--${mod}`)
    header.header
      .header__socials
        +socials('header')
    .hero-container
      span.section-title Portfolio
      +hero(mod)
    button.down-btn
      +icon('arrow_down', 'down-arrow')