mixin header(mod)
  section.page-header
    header.header
      .header__socials
        +socials('header')
    .hero-container
      +icon(`${mod}_header`, `background-title background-title--${mod}`)
      +hero(mod)
    button.down-btn.js-down-btn
      +icon('arrow_down', 'down-arrow')