//- .menu-preview.menu-preview--active
//-   +image('content/user.jpg', 'my photo', 'menu__user-image')
//-   h2.menu__name Артём Шелудешев
//-   p.menu__text Личный сайт веб-разработчика
//-   .menu__socials
//-     each icon, index in ['vk', 'github', 'in']
//-       a.menu__socials__link(href= socials[index], target="_blank")
//-         +icon(icon, 'menu__socials__item')
//-   nav.menu__nav
//-     ul.menu__navigation
//-       each item, index in ['Мои работы', 'Обо мне', 'Блог']
//-         li.menu__navigation__list
//-           a.menu__navigation__link(href=links[index])= item