mixin socials(mod, data)
  ul(class=`socials-list socials-list--${mod}`)
    each icon in [['vk', 'https://vk.com/aptem_oxa'], ['github', 'https://github.com/7evenUp'], ['inst', 'https://www.instagram.com/7_even_up/']]
      li.socials-list__item
        a.socials-list__link(href=icon[1], target="_blank")
          +icon(icon[0], `socials-list__icon socials-list__icon--${icon[0]}`)