.contact-form {
  border-radius: 5px;
  background-color: rgba(200, 200, 200, 0.65);
  width: 380px;
  margin: 70px auto;
  text-align: center;
  position: relative;
  overflow: hidden;

  @include phone {
    width: 300px;
  }

  &__background {
    background: url(assets/images/bg/earth.png) no-repeat, #f4f5f0;
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: blur(10px);
    position: absolute;
  }

  &__content {
    z-index: 2;
    position: relative;
  }

  &__title {
    margin-top: 35px;
    margin-bottom: 60px;

    @include phone {
      margin-bottom: 35px;
    }
  }
  &__textarea {
    resize: none;
    height: 140px;
  }
  &__input, &__textarea {
    margin-bottom: 20px;
    padding: 15px 18px;
    width: 90%;
    border-radius: 25px;

    @include phone {
      font-size: 14px;
      padding: 15px 15px;
    }
  }
  
  &__menu {
    display: flex;
    align-items: center;
  }

  &__btn {
    flex: 1 1 50%;
    color: $white;
    font-weight: 500;
    background-color: $dim-green;
    padding: 11px 30px;
    transition: all 0.25s;
    width: 100%;
    position: relative;

    &:focus-within {
      background-color: $dark-green;
    }

    & + & {
      border-left: 2px solid #a0b99e;
    }

    &:hover {
      background-color: $dark-green;
      cursor: pointer;
    }

    &::before {
      content: '';
      transform: scaleX(0);
      transition: all 0.25s;
      position: absolute;
      width: 26px;
      height: 2px;
      background-color: $white;
      top: calc(100% - 8px);
      left: calc(50% - 13px);
    }

    &:hover::before, &:focus-within::before {
      transform: scaleX(1);
    }

    &--submit {
      border-bottom-left-radius: 5px;
    }
    &--reset {
      border-bottom-right-radius: 5px;
    }
  }
}