.footer {
  position: absolute;
  bottom: 0;
  left: 0;

  &--blog {
    position: static;
    bottom: 0;
    left: 0;
  }

  &__row {
    display: flex;

    &_bg_grey {
      background-color: rgba(30, 30, 30, 0.7);

      @include tablet {
        flex-wrap: wrap;
      }

      @include small-tablet {
        flex-wrap: wrap;
        align-items: center;
      }

      @include phone {
        flex-wrap: wrap;
      }
    }
  }

  &__col {
    flex: 1 1 32%;
    padding: 25px;
    position: relative;

    &:nth-child(1)  {
      @include desktop {
        flex-basis: 31%;
      }

      @include laptop {
        flex-basis: 28%;
      }

      @include tablet {
        flex-basis: 50%;
      }

      @media (max-width: 700px) and (min-width: 600px) {
        flex-basis: 34%;
      }

      @include small-tablet {
        flex-basis: 100%;
      }
    }

    &:nth-child(2) {
      @include desktop {
        flex-basis: 38%;
      }

      @include laptop {
        flex-basis: 50%;
      }

      @include tablet {
        flex-basis: 50%;
      }

      @include small-tablet {
        flex-basis: 60%
      }
    }

    &:nth-child(3) {
      @include desktop {
        flex-basis: 31%;
      }

      @include laptop {
        flex-basis: 35%;
      }

      @include tablet {
        flex-basis: 100%;
      }

      @include small-tablet {
        flex-basis: 40%;
      }
    }

    @include desktop {
      padding: 15px;
    }

    @include laptop {
      padding: 13px;
    }

    @include small-tablet {
      padding: 10px;
    }

    @include phone {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 18px 0 18px 0;
      flex: 1 1 100%;
    }

    &-text {
      max-width: 300px;
      font-weight: 300;
      color: $white;

      @include desktop {
        font-size: 15px;
      }

      @include laptop {
        font-size: 14px;
      }

      @include small-tablet {
        font-size: 14px;
        max-width: none;
        text-align: center;
      }

      @include phone {
        font-size: 14px;
      }

      @include phone {
        font-size: 14px;
        text-align: center;
      }
    }

    &-links {
      @include phone {
        text-align: center;
        width: 95%;
      }
    }

    &:nth-child(1)::after {
      content: none;
    }

    &::after {
      content: '';
      height: 88px;
      width: 1px;
      background-color: #919996;
      position: absolute;
      top: calc(50% - 44px);
      left: 0;

      @include phone {
        width: 92%;
        height: 1px;
        top: 0;
        left: 4%;
      }
    }
  }
}
.links {

  &__navigation {
    width: 100%;
    
    @include small-tablet {
      margin-left: 10px;
      width: 60%;
    }
  }

  &__socials {
    width: 140px;
    margin-top: 20px;

    @include small-tablet {
      margin: 0;
    }

    @include phone {
      margin: 10px auto 0 auto;
    }
  }

  @include small-tablet {
    display: flex;
  }
}

.navigation-list {
  display: flex;
  justify-content: space-between;

  @include small-tablet {
    flex-direction: column;
  }

  @include phone {
    justify-content: space-around;
  }

  &__item {

    &:nth-child(1) {
      margin: 0;
    }

    @include phone {
    }
  }

  &__link {
    color: $white;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    display: block;
    height: 30px;
    line-height: 30px;

    &:hover::after {
      transform: scaleX(1);
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 1px;
      background-color: $white;
      transition: transform 0.25s; 
      left: 0;
      top: calc(100% - 2px);
    }

    @include desktop {
      font-size: 15px;
    }

    @include laptop {
      font-size: 14px;
    }

    @include tablet {
      font-size: 14px;
    }

    @include small-tablet {
      font-size: 15px;
      width: max-content;
    }

    @include phone {
      font-size: 14px;
    }
  }
}
.quote {

  &__text {
    font-style: italic;
    color: #a5afab;
  }

  &__author {
    font-weight: 700;
    color: #cacfcd;
  }

  @include desktop {
    font-size: 15px;
  }

  @include laptop {
    font-size: 14px;
  }

  @include small-tablet {
    font-size: 14px;
  }

  @include phone {
    font-size: 14px;
  }

  @include phone {
    width: 95%;
    text-align: center;
    font-size: 14px;
  }
}
.footer__row .copyright {
  padding: 8px 0;
  background-color: rgba(130, 170, 115, 0.85);

  &__text {
    width: 90%;
    margin: 0 auto;
    font-weight: 300;
    font-size: 14px;
  }

  &__creator {
    @include phone {
      display: block;
      margin: 0 auto;
    }
  }

  &__barrier {
    @include phone {
      display: none;
    }
  }

  &__info {
    @include phone {
      display: block;
      margin: 0 auto;

      &:first-letter {
        text-transform: uppercase;
      }
    }
  }
}