.page-header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  min-height: 650px;
  height: 100vh;
  max-height: 1024px;
  background: linear-gradient(to bottom, rgba(0, 0 ,0 , 0.30) 30%, rgba(0, 0 ,0 , 0.0) 80%),
              url('assets/images/bg/water.jpg') no-repeat center;
  background-size: cover;

  &::before, &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
  }

  &::before {
    left: 0;
    border-bottom: 17vh solid white;
    border-right: calc(100vw / 2) solid transparent;
  }

  &::after {
    right: 0;
    border-bottom: 17vh solid white;
    border-left: calc(100vw / 2) solid transparent;
  }

  &--about {
    &::before {
      left: 0;
      border-bottom: 17vh solid #ebefe2;
      border-right: calc(100vw / 2) solid transparent;
    }
    &::after {
      right: 0;
      border-bottom: 17vh solid #ebefe2;
      border-left: calc(100vw / 2) solid transparent;
    }
    @media (min-width: 1200px) {
      &::after {
        right: 0;
        border-bottom: 17vh solid #f4f5f0;
        border-left: calc(100vw / 2) solid transparent;
      }
    }
  }

  @supports (clip-path: polygon(0 0, 0 83%, 50% 100%, 100% 83%, 100% 0)) {
    clip-path: polygon(0 0, 0 83%, 50% 100%, 100% 83%, 100% 0);
    
    &::before, &::after {
      content: none;
    }
  }
}
.background-title {
  fill: rgba(255,255,255, 0.15);
  z-index: -1;
  position: absolute;

  &--blog {
    left: calc(50% - 150px);
    top: calc(50% - 5px);
  }

  &--portfolio {
    width: 1000px;
    height: 300px;
    left: calc(50% - 500px);
    top: calc(50% - 185px);

    @include laptop {
      width: 750px;
      left: calc(50% - 375px);
    }

    @include tablet {
      width: 590px;
      left: calc(50% - 295px);
      top: calc(50% - 80px);
    }

    @include small-tablet {
      width: 450px;
      left: calc(50% - 225px);
      top: calc(50% - 75px);
    }

    @include phone {
      width: 300px;
      top: 50%;
      left: calc(50% - 150px);
    }
  }
}
.header {
  width: 100%;

  &__socials {
    width: 180px;
    padding-top: 30px;
    padding-left: 25px;

    @include phone {
      width: 140px;
      padding-top: 15px;
      padding-left: 12px;
    }
  }
}
.hero-container {
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
}
.section-title {
  display: none;
}
.down-btn {
  margin-bottom: 70px;
  background-color: transparent;
  position: absolute;
  left: calc(50% - 13px);
  bottom: 0;

  &:focus-within .down-arrow {
    fill: $white;
  }
}
.down-arrow {
  fill: #c2d4cb;
  transition: all 0.35s;
  width: 26px;
  height: 16px;

  &:hover {
    fill: $white;
    cursor: pointer;
  }
}