.works {
  min-height: 100vh;

  &__title {
    margin-top: 55px;
    margin-bottom: 55px;
  }

  &__content {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
      background: #ebefe2;

      @media (min-width: 1200px) {
        background: linear-gradient(to right, #ebefe2 50%, #e1e4d7 0);
      }
    }
  }
}
// .parallax {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   overflow-x: hidden;
//   overflow-y: auto;
//   perspective: 100px;

//   &__layer {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     transform-style: preserve-3d;
//   }

//   &__image {
//     bottom: 0;
//     left: 50%;
//     transform: translateX(-50%);
//   }

//   &__content {
//     height: 2000px;
//     position: absolute;
//     top: 100%;
//     left: 0;
//     right: 0;
//   }
// }
.parallax__image {
  display: none;
  position: absolute;

  @media (min-width: 768px) {
    display: block;

    &--1 {
      top: 40%;
      left: 20%;
      // transform: translateZ(0);
    }

    &--2 {
      left: 5%;
      top: 8%;
      // transform: translateZ(-1px) scale(2);
    }

    &--3 {
      top: 35%;
      right: 3%;
      // transform: translateZ(-2px) scale(3);
    }  
  }
}
.criticism {
  // @media (min-width: 768px) {
  //   // parallax
  //   perspective: 1px;
  //   overflow-x: hidden;
  //   overflow-y: auto;
  //   min-height: 100vh;

  //   &__parallax-group {
  //     position: relative;
  //     height: 100vh;
  //     transform-style: preserve-3d;
  //   }
  // }

  background: url(assets/images/bg/earth.png) no-repeat, #f4f5f0;
  background-size: cover;
  padding: 60px 0 255px 0;
  position: relative;

  @include phone {
    padding-bottom: 375px;
  }

  &__title {
    margin: 0 0 60px 0;
  }

  &__block {
    width: 820px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;

    @include laptop {
      width: 100%;
    }

    @include tablet {
      width: 85%;
    }
    @include small-tablet {
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 100%;
    }
    @include phone {
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 100%;      
    }
  }
}
.critic {
  text-align: center;
  flex: 1 1 50%;
  padding-top: 25px;

  @include laptop {
    flex: 0 1 46%;
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }

  @include tablet {
    flex: 0 1 49%;
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }   
  }

  @include small-tablet {
    width: 70%;

    margin-top: 10px;

    &:first-child {
      margin-top: 0;
    }  
  }

  @include phone {
    width: 85%;

    margin-top: 14px;

    &:first-child {
      margin-top: 0;
    }  
  }

  &__talk {
    margin: 24px 0;

    @include tablet {
      margin: 20px 0;
    }

    @include small-tablet {
      margin: 8px 0;
    }

    @include phone {
      margin: 6px 0;
    }
  }
  &__text {
    text-align: left;
    color: #5d5a55;
    font-style: italic;
    font-weight: 500;

    @include tablet {
      font-size: 14px;
    }
    @include small-tablet {
      font-size: 14px;
    }
    @include phone {
      font-size: 14px;
    }
  }

  &__name {
    color: $dark-green;
    font-style: italic;
    font-weight: 500;
  }

  &__post {
    color: $text-color;
    font-style: italic;
    font-weight: 500; 
  }
}

.criticism__down-btn {
  text-align: center;
  transform: rotate(180deg);
  background: transparent;
  position: relative;
  left: calc(50% - 13px);

  @include tablet {
    top: -30px;
  }
}