.works {
  min-height: 100vh;

  &__title {
    margin-top: 55px;
    margin-bottom: 55px;
  }

  &__content {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
      background: #ebefe2;

      @media (min-width: 1200px) {
        background: linear-gradient(to right, #ebefe2 50%, #e1e4d7 0);
      }
    }
  }
}
.criticism {
  background: url(assets/images/bg/earth.png) no-repeat center bottom, #f4f5f0;
  background-size: cover;
  padding: 60px 0 255px 0;

  @include tablet {
    background-size: cover;
  }

  @include small-tablet {
    background-size: 370%;
  }

  @include phone {
    background-size: 370%;
    padding-bottom: 375px;
  }

  &__title {
    margin: 0 0 60px 0;
  }

  &__block {
    width: 820px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;

    @include laptop {
      width: 100%;
    }

    @include tablet {
      width: 85%;
    }
    @include small-tablet {
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 100%;
    }
    @include phone {
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 100%;      
    }
  }
}
.critic {
  text-align: center;
  flex: 1 1 50%;
  padding-top: 25px;

  @include laptop {
    flex: 0 1 46%;
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }

  @include tablet {
    flex: 0 1 49%;
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }   
  }

  @include small-tablet {
    width: 70%;

    margin-top: 10px;

    &:first-child {
      margin-top: 0;
    }  
  }

  @include phone {
    width: 85%;

    margin-top: 14px;

    &:first-child {
      margin-top: 0;
    }  
  }

  &__talk {
    margin: 24px 0;

    @include tablet {
      margin: 20px 0;
    }

    @include small-tablet {
      margin: 8px 0;
    }

    @include phone {
      margin: 6px 0;
    }
  }
  &__text {
    text-align: left;
    color: #5d5a55;
    font-style: italic;
    font-weight: 500;

    @include tablet {
      font-size: 14px;
    }
    @include small-tablet {
      font-size: 14px;
    }
    @include phone {
      font-size: 14px;
    }
  }

  &__name {
    color: $dark-green;
    font-style: italic;
    font-weight: 500;
  }

  &__post {
    color: $text-color;
    font-style: italic;
    font-weight: 500; 
  }
}

.contact-form {
  border-radius: 5px;
  background-color: rgba(200, 200, 200, 0.65);
  width: 380px;
  margin: 70px auto;
  padding-top: 35px;
  text-align: center;

  @include phone {
    width: 300px;
  }

  &__title {
    margin-bottom: 60px;

    @include phone {
      margin-bottom: 35px;
    }
  }
  &__textarea {
    resize: none;
    height: 140px;
  }
  &__input, &__textarea {
    margin-bottom: 20px;
    padding: 15px 18px;
    width: 90%;
    border-radius: 25px;

    @include phone {
      font-size: 14px;
      padding: 15px 15px;
    }
  }
  
  &__menu {
    display: flex;
    align-items: center;
  }

  &__btn {
    flex: 1 1 50%;
    color: $white;
    font-weight: 500;
    background-color: $dim-green;
    padding: 11px 30px;
    transition: all 0.25s;
    width: 100%;
    position: relative;

    &:focus-within {
      background-color: $dark-green;
    }

    & + & {
      border-left: 2px solid #a0b99e;
    }

    &:hover {
      background-color: $dark-green;
      cursor: pointer;
    }

    &::before {
      content: '';
      transform: scaleX(0);
      transition: all 0.25s;
      position: absolute;
      width: 26px;
      height: 2px;
      background-color: $white;
      top: calc(100% - 8px);
      left: calc(50% - 13px);
    }

    &:hover::before, &:focus-within::before {
      transform: scaleX(1);
    }

    &--submit {
      border-bottom-left-radius: 5px;
    }
    &--reset {
      border-bottom-right-radius: 5px;
    }
  }
}

.criticism__down-btn {
  text-align: center;
  transform: rotate(180deg);
  background: transparent;
  position: relative;
  left: calc(50% - 13px);

  @include tablet {
    top: -30px;
  }
}